.col-md-12
  .content-box-large
    .panel-heading
      .panel-title Welcome
    .panel-body
      %a.btn.btn-primary.btn-sm{href: "/auth/dropbox_oauth2"}
        %i.fa.fa-dropbox.fa-2x
        Linking Dropbox account

