.navbar.navbar-inverse{:role => "banner"}
  %nav.collapse.navbar-collapse.bs-navbar-collapse.navbar-right{:role => "navigation"}
    %ul.nav.navbar-nav
      %li.dropdown
        - if user_signed_in?
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            = current_user.nickname
            %b.caret
          %ul.dropdown-menu.animated.fadeInUp
            %li
              %a{:href => "/auth/logout"} Logout
        - else
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            guest
            %b.caret
          %ul.dropdown-menu.animated.fadeInUp
            %li
              %a{:href => "/auth/github"} Login
